<head>
	<!-- <title>{{title}}</title> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="fragment" content="!">
	<link rel="stylesheet" href="client/css/bootstrapValidator.min.css"/>
	<script type="text/javascript" src="client/js/bootstrapValidator.min.js"></script>
</head>

<body>
	

</body>
<template name="title">
	{{pageTitle}}
</template>
<template name="layout">
	{{>navbar}}
	<div class="container-fluid" id='layout'>
		<div class="row">
			<div class="sidebar col-xs-2   panel" role="navigation">
				{{> yield region='sidebar'}}
			</div>
			<div class="panel panel-primary col-xs-10 content" id="content">
				{{> yield }}
			</div>
		</div>
		<div class="footer row">
			<div class="col-xs-4 col-xs-offset-4">footer</div>
		</div>
	</div>
</template>
<!-- <nav class="navbar navbar-default navbar-static-top" >
			<div class="container-fluid" role="navigation">
				<ul class="nav nav-pills navbar-inverse navbar-left">
					<li><a href="#">LOGO</a></li>
				</ul>
				<ul class="nav nav-pills  navbar-inverse ">
					<li class="{{activeHome}}" ><a href="{{pathFor 'home'}}">{{mf 'home' 'Home'}}</a></li>
					<li class="{{activeBlog}}" ><a href="{{pathFor 'blog'}}">{{mf 'blog' 'BLOG'}}</a></li>
					<li class="{{activeChat}}" ><a href="/chat">{{mf 'chat' 'CHAT'}}</a></li>
					<li class="{{activeNotes}}" ><a href="/notes">{{mf 'notes' 'NOTES'}}</a></li>
				</ul>
				<ul class="nav nav-pills  navbar-inverse navbar-right">
					<li class='dropdown {{activeUser}}'>{{> user}}</li>
				</ul>
			</div>
		</nav> -->
<template name="navbar">
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-nav">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Logo</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="navbar-nav">
	      <ul class="nav navbar-nav">
	        <li class="{{activeHome}} disabled"  tile="{{mf 'under-construction' 'Under development'}}" ><a class="navigation" href="{{pathFor 'home'}}">{{mf 'home' 'Home'}}</a></li>
			<li class="{{activeBlog}} disabled"  tile="{{mf 'under-construction' 'Under development'}}" ><a class="navigation" href="{{pathFor 'blog'}}">{{mf 'blog' 'BLOG'}}</a></li>
			<li class="{{activeChat}}" ><a class="navigation" href="/chat">{{mf 'chat' 'CHAT'}}{{#if chat_notifications}}<span class="badge">{{chat_notifications}}</span>{{/if}}</a></li>
			<li class="{{activeNotes}} disabled" tile="{{mf 'under-construction' 'Under development'}}"  ><a class="navigation" href="{{pathFor 'notes'}}">{{mf 'notes' 'NOTES'}}</a></li>
	      </ul>
	      <form class="navbar-form navbar-left" disabled="disabled" tile="{{mf 'under-construction' 'Under development'}}" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" disabled="disabled" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default" disabled="disabled">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	    	<li class='dropdown {{activeUser}}'>{{> user}}</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</template>